<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Standard_Skudo unit">
            <directory>Standard/Skudo/Test/Unit</directory>
        </testsuite>
        <!--
            Pruebas que necesitan una instancia de Magento arrancable, no sólo
            su autoloader: se saltan solas si SKUDO_MAGENTO_APP_ROOT no apunta
            a una instalación con app/etc/env.php. Existen porque el defecto
            C2 (el módulo componiendo su propia ventana de versión activa con
            la que el framework inyecta) es invisible para cualquier doble de
            `Select`, que es donde vive el resto de la suite.
        -->
        <testsuite name="Standard_Skudo integration">
            <directory>Standard/Skudo/Test/Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
