<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Standard\Skudo\Api\EnvironmentProbeInterface"
                type="Standard\Skudo\Model\EnvironmentProbe"/>
    <preference for="Standard\Skudo\Api\ProductReaderInterface"
                type="Standard\Skudo\Model\ProductReader"/>
    <preference for="Standard\Skudo\Api\DeltaReaderInterface"
                type="Standard\Skudo\Model\DeltaReader"/>
    <preference for="Standard\Skudo\Api\SignalReaderInterface"
                type="Standard\Skudo\Model\SignalReader"/>
</config>
